@model StocksApp.Models.Stocks
@{
    ViewBag.Title = "Index";
}
<div class="box trading-panel">

    <div class="flex trading-panel-flex">

        <div id="stock-price-panel">

            <div class="stock">
                <h1 class="stock-title" style="color:cornflowerblue">@Model.StocksSymbol</h1>

                <table>
                    <tbody>
                        <tr>
                            <td>Current:</td>
                            <th><small>$</small> <span class="price">@Model.CurrentPrice.ToString("N")</span></th>
                        </tr>

                        <tr>
                            <td>High:</td>
                            <th><small>$</small> <span class="price">@Model.HighestPrice.ToString("N")</span></th>
                        </tr>

                        <tr>
                            <td>Low:</td>
                            <th><small>$</small> <span class="price">@Model.LowestPrice.ToString("N")</span></th>
                        </tr>

                        <tr>
                            <td>Open:</td>
                            <th><small>$</small> <span class="price">@Model.OpenPrice.ToString("N")</span></th>
                        </tr>
                    </tbody>
                </table>
            </div>

            
        </div>      
    </div>
</div>

<script type="text/javascript">
    function searchCompany(){
        var company = $('#company').val();
        console.log(company);
    }
</script>